<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us | Power Gym</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">POWER <span>GYM</span></div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="membership.html">Membership</a></li>
        </ul>
        <button class="nav-btn">Join Now</button>
    </nav>

    <section class="about-section">
        <h1>ABOUT <span style="color:#e31c25">POWER GYM</span></h1>
        <div class="about-grid">
            <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?w=600" alt="Gym">
            <p>Power Gym is a modern fitness center providing top-quality equipment, professional trainers, and a motivating 
                environment to help you achieve your fitness goals. We focus on results and community.</p>
        </div>

        <div class="why-us">
            <h2 style="letter-spacing: 2px;">— Why Choose Us —</h2>
            <div class="why-grid">
                <div class="why-item"><i class="fas fa-certificate"></i><p>Certified Trainers</p></div>
                <div class="why-item"><i class="fas fa-sparkles"></i><p>Clean Environment</p></div>
                <div class="why-item"><i class="fas fa-tags"></i><p>Affordable Plans</p></div>
                <div class="why-item"><i class="fas fa-dumbbell"></i><p>Personal Training</p></div>
            </div>
        </div>

        <h2 style="margin-top: 80px; letter-spacing: 2px;">— OUR TRAINERS —</h2>
        <div class="trainers-grid">
            <div class="trainer-card">
                <img src="https://plus.unsplash.com/premium_photo-1664910207555-fac63513e7ad?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVuJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D" alt="Ali">
                <div class="t-tag grey">Ali Khan <br> <span style="font-weight:normal; font-size:14px">Weight Training</span></div>
            </div>
            <div class="trainer-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ74u0qnHKAdK4Ea1hyABE3Uwkya30K-sRaGA&s" alt="Sara">
                <div class="t-tag red">Sara Ahmed <br> <span style="font-weight:normal; font-size:14px">Cardio Specialist</span></div>
            </div>
            <div class="trainer-card">
                <img src="https://thumbs.dreamstime.com/b/handsome-teen-boy-dumbbell-working-out-against-black-background-67470159.jpg" alt="David">
                <div class="t-tag dark-red">David Malik <br> <span style="font-weight:normal; font-size:14px">Strength Coach</span></div>
            </div>
        </div>
    </section>
</body>
</html>